<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1/0">
  <title>Derilinx</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <h1>Derilinx Geocoder</h1>
  <form action="/geocoder">
         <button class="button button1" type="submit">Run Model</button>
      </form>

  <div id="map"></div>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4KnqgtmtDTOIldHJtI8-cWjyG1HRCzA8&callback=initMap&libraries=places&v=weekly"
      async
    ></script>
</body>
</html>


